.mainContent {
	display: flex;
	justify-content: center;
	position: fixed;
	margin: 0;
}
.container {
	background-color: var(--background-color);
	color: var(--text-color);
	scroll-behavior: smooth;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: hidden;
}
.main {
	padding: 1.8em 1.8em 1em 1.8em;
	height: 92%;
	margin: 20px;
	margin-top: 50px;
	overflow-y: scroll;
	background-color: var(--page-color);
	box-shadow: var(--box-shadow);
}
.titleBar {
	display: flex;
	justify-content: space-between;
	position: fixed;
	padding: 2px;
	background-color: var(--title-bar-color);
	/* box-shadow: var(--box-shadow); */
	font-size: 1rem;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 10;
}
.titleBar button {
	border: none;
	color: var(--title-bar-text-color);
	font-family: inherit;
	background-color: inherit;
	border-bottom: solid 2px var(--title-bar-text-color);
	padding: 0.4em;
	margin-left: 5px;
	cursor: pointer;
}
.titleBar a {
	display: block;
	padding: 0.2em;
}

.toggleWrapper {
  overflow: hidden;
  padding: 10px;
}
.toggleWrapper input {
  position: absolute;
  left: -99em;
}

.toggle {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 50px;
  height: 20px;
  background-color: #c8edff;
  border-radius: 84px;
  transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.toggleHandler {
  display: inline-block;
  position: relative;
  z-index: 1;
  top: 2px;
  left: 3px;
  width: 15px;
  height: 15px;
  background-color: #FFCF96;
  border-radius: 50px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: rotate(-45deg);
}

.toggleWrapper input:checked + .toggle {
  background-color: #356cb9;
}

.toggleWrapper input:checked + .toggle:before {
  color: #749ED7;
}

.toggleWrapper input:checked + .toggle:after {
  color: #ffffff;
}

.toggleWrapper input:checked + .toggle .toggleHandler {
  background-color: #ffd890;
  transform: translate3d(28px, 0, 0) rotate(0);
}

